<!DOCTYPE html>
<html>
<head>
  <title>Music Nerdz</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
 <!--  <link rel="stylesheet" type="text/css" href="style.css"> -->
</head>
<body>
  <nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Home</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if(!user){ %>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/signup">Signup</a></li>
          <% } else { %>
            <li><a href="/profile"></a></li>
            <li>Hello, <%= user.firstname %>!</li>
            <li><a href="/favs/fav-artist">Favorite Artist</a></li>
            <li><a href="/"></a>Search For Artist</li>
            <li><a href="/auth/logout">Logout</a></li>
          <% } %>
        </ul>
    </div>
  </nav>
  <div class="container">
    <h1 class="header center">Whos your favortie artist</h1>
    <div class="row">
      <div class="col-12 center">
        <%- body %>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
