<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>

<h1>Search for your favorite artist</h1>

	<form method="POST" action="/">
	<div>
		<label for="artist"> Enter your favortite artist </label>
		<input type="text" id="artist" name="artist" placeholder="Enter Artist">
	</div>
	<input type="submit" name="Enter Now!">
	
</form>

</body>
</html>
