<h2>Favorite Tracks</h2>


<% track.forEach(function(track) { %>
		<h2>Single Name: <%=track.name%> </h2>
		<h3>Popularity Number: <%= track.popularity %> </h3>
		<div class="img-container">
		<img src="<%= track.image %>">
		



<% }) -%>

